WMM_HOSTNAME.local

root * /var/www/html
php_fastcgi unix//run/php/phpPHP_VERSION-fpm.sock
file_server
encode gzip
tls internal

@disallowed {
    path /xmlrpc.php
    path *.sql
    path /wp-content/uploads/*.php
}

log {
    level ERROR
    format console
    output file /var/www/logs/caddy_errors.log {
        roll_uncompressed
        roll_local_time
        roll_disabled
    }
}
