wp.test:80

root * /var/www/html
php_fastcgi unix//run/php/php8.0-fpm.sock
file_server
encode gzip

@disallowed {
    path /xmlrpc.php
    path *.sql
    path /wp-content/uploads/*.php
}

rewrite @disallowed '/index.php'
