wmm.local

root * /var/www/html
php_fastcgi unix//run/php/phpPHP_VERSION-fpm.sock
file_server
encode gzip
tls internal

@disallowed {
    path /xmlrpc.php
    path *.sql
    path /wp-content/uploads/*.php
}

